:global(#root) {
  height: 100%;
  width: 100%;
  display: flex;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
}

.list {
  height: 1000px;
  width: 300px;
  display: flex;
  overflow: auto;
  border-right: 1px solid #ccc;
}

.details {
  flex: 1;
}
